body { padding-top: 4.5rem; }
table.table td, table.table th {
  text-align: center;
}
.custom-toast-container { z-index: 1100; }
.inline-input { width: auto; display: inline-block; }

#material-table td,
#material-table th {
  padding-top: 0;
  padding-bottom: 0;
  white-space: nowrap;
  line-height: 1.2;
}

#material-list td:nth-child(2),
#material-table th:nth-child(2) {
  white-space: normal;
  word-break: break-word;
}

#material-table th:first-child,
#material-table td:first-child {
  width: 10%;
}

#material-table th:nth-child(2),
#material-table td:nth-child(2) {
  width: 40%;
}

#material-table th:nth-child(4),
#material-table td:nth-child(4),
#material-table th:nth-child(5),
#material-table td:nth-child(5) {
  width: 10%;
}

#material-table th:nth-child(3),
#material-table td:nth-child(3) {
  width: 10%;
}

#material-list .quantity {
  width: 80px;
}

#material-list .product {
  width: 100%;
}

#material-list .supply {
  min-width: 80px;
}

#material-list .unit {
  min-width: 90px;
}

#material-list .last-price {
  min-width: 120px;
}

#material-list .form-control {
  padding: 0.1rem 0.25rem;
  height: 1.5rem;
}
