{% extends 'base.html' %}
{% block title %}Login{% endblock %}
{% block content %}
<h1 class="mt-4">Login</h1>
<form method="post">
    <div class="form-group">
      <label for="email">Enter your email (optional)</label>
      <input type="email" name="email" id="email" class="form-control">
    </div>
    <div class="form-group">
      <label for="code">Enter code</label>
      <input type="text" name="code" id="code" class="form-control">
    </div>
    <button type="submit" class="btn btn-primary">Log In</button>
  </form>
{% endblock %}
