{% extends 'base.html' %}
{% block title %}All Content{% endblock %}
{% block content %}
<h1 class="mt-4">All Content</h1>
<a href="{{ url_for('index') }}" class="btn btn-primary mb-3">Back</a>
<div class="form-group">
  <label for="supply">Select Supply</label>
  <select name="supply" id="supply" class="form-control" onchange="location.href=this.value">
    <option value="{{ url_for('view_all', supply='supply1') }}" {% if supply == 'supply1' %}selected{% endif %}>Supply 1</option>
    <option value="{{ url_for('view_all', supply='supply2') }}" {% if supply == 'supply2' %}selected{% endif %}>Supply 2</option>
  </select>
</div>
<hr>
{{ table | safe }}
{% endblock %}
{% block extra_scripts %}
<script>
$(document).ready(function(){ if ($('#data-table').length){ $('#data-table').DataTable({pageLength:50,lengthMenu:[[50,100,200,-1],[50,100,200,'All']]}); } });
</script>
{% endblock %}
